/* Basic reset for body and html */
@import url(https://db.onlinewebfonts.com/c/eeea326dfea34ee181931aaa5b96f9b8?family=Reload-Medium);
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#fadeScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    transition: opacity 1s ease-in;
  }
  
  #transitionVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    z-index: 1;
  }


#videos {
    filter: brightness(.4); /* Set initial brightness */
    transition: filter 0.3s ease; /* Smooth brightness transition */
}

/* Video Container */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2; /* Keeps the video in the background */
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

/* Button Styling */
.custom-button {
    transform: skew(-15deg);
    position: relative;
    padding: 15px 30px;
    background-color: rgb(14, 14, 14);
    color: white;
    letter-spacing: 2px;
    border: 2px solid white;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    outline: none;
    transition: color 0.3s, box-shadow 0.3s;
    transition: opacity 1s ease-in;
    z-index: 1;
    width: 8em;
    box-sizing: border-box;
}

#skip-button{
    opacity: 0;
    transform: skew(-15deg);
    padding: 15px 30px;
    background-color: rgb(14, 14, 14);
    color: white;
    letter-spacing: 2px;
    border: 2px solid white;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    outline: none;
    transition: color 0.3s, box-shadow 0.3s;
    transition: opacity 1s ease-in;
    z-index: 1;
    width: 8em;
    box-sizing: border-box;
    bottom: 5%;
    right: 5%;
    position: absolute;
    transition: .3s;
   
}

#skip-button:hover{
    border: 2px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    box-shadow: 0 0 15px 2px rgb(255, 0, 0);
}

.custom-button:hover{
    border: 2px solid rgb(255, 102, 0);
    color: rgb(255, 102, 0);
    box-shadow: 0 0 15px 2px rgb(255, 145, 0);
}

/* Content styling */
.content {
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    color: white;
    width: 100vw;
    text-align: center;
}
#nextContent {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }